.MobbileCIB{
    background-image: url("../../genisis-project/src/assets/Gradient.png");
    background-repeat: repeat-y;
    background-color: black;
    
    
    background-position: center ;
    
    height: 100%;
    width: 100%;
    
    position: relative;
}
.background{
    background-image: url("../../genisis-project/src/assets/Rectangle\ 983.png");
  
    background-position: center ;
    
    height: 100%;
    width: 100%;
    
}
@keyframes shimmer {
    0% {
      border-color: #693B93;
      box-shadow: 0 0 4px #693B93, 0 0 10px #693B93, 0 0 20px #693B93;
    }
    50% {
      border-color: #fff;
      box-shadow: 0 0 8px #fff, 0 0 15px #693B93, 0 0 25px #fff;
    }
    100% {
      border-color: #693B93;
      box-shadow: 0 0 4px #693B93, 0 0 10px #693B93, 0 0 20px #693B93;
    }
  }
  
  .group-hover\:animate-shimmer:hover {
    animation: shimmer 1.5s infinite;
  }


  @keyframes slideInLeft {
    from {
      opacity: 0;
      transform: translateX(-50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  @keyframes slideInRight {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  /* Classes for animation */
  .animate-slide-in-left {
    animation: slideInLeft 0.8s ease forwards;
  }
  
  .animate-slide-in-right {
    animation: slideInRight 0.8s ease forwards;
  }
  
  